.rollup {
    display: flex;
}

.rollup:not(:first-child) {
    padding-top: 0.5rem;
}

.rollup:not(:last-child) {
    border-bottom: 1px solid #dddbda;
}

.rollup .value {
    font-size: 1.5rem;
}

.rollup .label, .rollup .value {
    overflow: hidden;
    text-overflow: ellipsis;
}

.rollup .remove-btn {
    margin-left: auto;
    margin-bottom: 5px;
    align-self: flex-end;
}

.slds-card__footer {
    border: none;
    padding-top: 0;
}

c-field-rollup-add {
    display: block;
    min-height: 336px;
}

lightning-button-icon.add-btn, lightning-button-icon.refresh-btn {
    --lwc-colorTextIconDefault: #006dcc;
}